@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

$purple: #3d3b8e;
$lightgreen: #ebf5f1;

body {
  margin: 0;
  color: $purple;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  background-color: $lightgreen;
}

button {
  width: 100px;
  height: 50px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: $lightgreen;
  color: $purple;
  border: 0;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  a {
    color: $purple;
    text-decoration: none;
  }
}
button:hover {
  opacity: 0.8;
}

.logo {
  width: 100%;
  height: max-content;
  background-color: $lightgreen;
  display: flex;
  justify-content: center;
  img {
    width: 150px;
    height: 150px;
    cursor: pointer;
  }
}

nav {
  width: 100%;
  height: 100px;
  padding: 10px;
  background-color: $lightgreen;
  ul {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
  }
  li {
    margin-right: 50px;
    text-decoration: none;
    list-style: none;
    border: 2px solid $purple;
    border-radius: 4px;
    padding: 10px;
  }

  #aboutBtn {
    background-color: $purple;
    border-radius: 4px;
    padding: 10px;
    a {
      color: #fff;
    }
  }
  a {
    text-decoration: none;
    list-style: none;
    color: $purple;
  }
  li:hover {
    background-color: $purple;
    border-radius: 4px;
    padding: 10px;
    a {
      color: #fff;
    }
  }
}

.intro {
  padding: 10px;
  background-color: $lightgreen;
  width: 100%;
  max-height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  img {
    height: 400px;
    width: 400px;
    border-radius: 50%;
  }
  .intro-text {
    margin-bottom: 300px;
    padding: 50px;
    border-bottom: 4px solid $purple;
    border-radius: 2px;
  }
}

.service-info {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: $purple;
  width: 100%;
  h4 {
    color: whitesmoke;
  }
}

.products {
  background-color: $lightgreen;
  height: max-content;
  max-height: max-content;
  width: 100%;
  h1 {
    text-align: center;
  }
  #bigpic {
    width: 390px;
    height: 450px;
    cursor: pointer;
  }
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, auto));

  img {
    margin: 0 auto;
    width: 170px;
    height: 170px;
    border-radius: 3px;
    border: 3px solid #fff;
    cursor: pointer;
  }
}

.seemore {
  width: 100%;
  height: 200px;
  background-color: $purple;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 7px;
}

.order {
  margin: 10px;
  width: 100%;
  height: 200px;
  max-height: max-content;
  margin: 0 auto;
  color: whitesmoke;
  background-color: $purple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footer {
  text-align: center;
  width: 100%;
  height: 40px;
  background-color: $purple;
  font-weight: bold;
  color: white;
  a {
    text-decoration: none;
    color: #fff;
  }
}

@media only screen and (max-width: 1020px) {
  .intro {
    img {
      width: 300px;
      height: 300px;
    }
  }
  nav {
    li,
    #aboutBtn {
      padding: 15px;
      text-align: center;
      height: max-content;
    }
  }
  .products {
    display: flex;
    flex-direction: column;
    img {
      width: 120px;
      height: 120px;
    }
    .small {
      margin: 0 auto;
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-gap: 10px;
    }
    .seemore {
      width: 100%;
      font-size: 12px;
      margin: 50px 0;
      border-radius: 0;
    }
    #bigpic {
      width: 300px;
      height: 390px;
    }
  }
  .service-info {
    width: 100%;
  }
  .order {
    width: 100%;
  }
  .footer {
    padding: 5px;
    width: 100%;
  }
}

@media only screen and (min-width: 1021px) {
  @media only screen and (max-width: 1440px) {
    .service-info {
      justify-content: space-evenly;
    }
    .items {
      display: grid;
      grid-template-columns: auto auto auto auto;
    }
  }
}

@media only screen and (max-width: 636px) {
  nav {
    display: none;
  }
}
